In [1]:
# load package
import numpy as np
import pandas as pd
import jieba
from collections import Counter


# set path
import os
default_path = "/Users/francislin/jrml/What's Cooking/"
os.chdir(default_path)

# skip interaction warning
import warnings; 
warnings.filterwarnings('ignore')
#你可以选择修改 ast_note_iteractively kernel 选项来使得 Jupyter 为每一行的变量或语句执行这个操作，以便你可以立即看到多条语句一起输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
train=pd.read_json('./data/train.json')
test=pd.read_json('./data/test.json')
submission=pd.read_csv('./data/sample_submission.csv')

In [3]:
train.head()

       cuisine     id                                        ingredients
0        greek  10259  [romaine lettuce, black olives, grape tomatoes...
1  southern_us  25693  [plain flour, ground pepper, salt, tomatoes, g...
2     filipino  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3       indian  22213                [water, vegetable oil, wheat, salt]
4       indian  13162  [black pepper, shallots, cornflour, cayenne pe...

In [4]:
test.head()

      id                                        ingredients
0  18009  [baking powder, eggs, all-purpose flour, raisi...
1  28583  [sugar, egg yolks, corn starch, cream of tarta...
2  41580  [sausage links, fennel bulb, fronds, olive oil...
3  29752  [meat cuts, file powder, smoked sausage, okra,...
4  35687  [ground black pepper, salt, sausage casings, l...

In [5]:
df=train.append(test, ignore_index=True)
del (train, test)

In [6]:
content = list(df['ingredients'])
contenttxt = ''.join(str(e) for e in content)
#把全部要分析的ingredients灌進一個string

In [7]:
#把結巴沒斷好的拿掉
garbage = ['teeeest']

In [8]:
# 計算詞頻
def get_words(txt, num=900):
    seg_list = jieba.cut(txt, cut_all=False)
    temp = list(seg_list)
    temp = [x.strip() for x in temp]
    temp = [x for x in temp if x not in garbage]
    c = Counter()
    for x in temp:
        if len(x)>1 and x != '\r\n':
            c[x] += 1
    return c.most_common(num)

In [9]:
frq = get_words(contenttxt)
print(frq)
print(type(frq))

Building prefix dict from the default dictionary ...
Loading model from cache /var/folders/ps/4m0fjtss0nv0lbhy26n3224m0000gn/T/jieba.cache
Loading model cost 0.824 seconds.
Prefix dict has been built succesfully.

[('pepper', 31909), ('salt', 30573), ('oil', 29048), ('garlic', 23614), ('ground', 22836), ('fresh', 22161), ('sauce', 15987), ('sugar', 15621), ('onions', 15450), ('cheese', 14638), ('chicken', 14300), ('olive', 13539), ('black', 13465), ('water', 12219), ('red', 11525), ('flour', 11082), ('butter', 10804), ('tomatoes', 10717), ('green', 10643), ('powder', 10302), ('chopped', 9802), ('cloves', 9422), ('juice', 8970), ('white', 8626), ('onion', 8609), ('eggs', 8170), ('rice', 7661), ('cream', 7628), ('cilantro', 7432), ('milk', 7353), ('lemon', 7288), ('vegetable', 7068), ('leaves', 6837), ('large', 6787), ('ginger', 6732), ('corn', 6672), ('dried', 6647), ('lime', 6199), ('vinegar', 6185), ('soy', 6076), ('all', 6054), ('purpose', 6045), ('cumin', 5809), ('broth', 5556), ('chili', 5406), ('wine', 5334), ('bell', 5313), ('parsley', 5172), ('sesame', 4391), ('beans', 4353), ('grated', 4093), ('kosher', 4012), ('carrots', 4005), ('extra', 3856), ('basil', 3835), ('beef', 3798), ('dry', 3793), ('seeds', 3748), ('brown', 3729), ('paste', 3700), ('baking', 3689), ('unsalted', 3671), ('parmesan', 3648), ('chilies', 3500), ('boneless', 3452), ('virgin', 3440), ('oregano', 3435), ('shredded', 3300), ('cinnamon', 3261), ('fat', 3251), ('tomato', 3209), ('egg', 3178), ('potatoes', 3134), ('cooking', 3087), ('thyme', 3082), ('pork', 3075), ('shrimp', 2935), ('chile', 2903), ('diced', 2882), ('yellow', 2863), ('bread', 2855), ('low', 2834), ('seasoning', 2812), ('tortillas', 2802), ('skinless', 2801), ('sodium', 2799), ('vanilla', 2778), ('coconut', 2767), ('coriander', 2740), ('celery', 2701), ('bay', 2688), ('cayenne', 2672), ('breasts', 2650), ('minced', 2637), ('leaf', 2601), ('mushrooms', 2599), ('whole', 2579), ('crushed', 2519), ('spray', 2510), ('sour', 2471), ('flakes', 2421), ('starch', 2412), ('paprika', 2411), ('stock', 2400), ('purple', 2376), ('scallions', 2372), ('hot', 2337), ('cheddar', 2315), ('fish', 2311), ('mustard', 2249), ('extract', 2201), ('orange', 2192), ('jalapeno', 2188), ('sweet', 2071), ('curry', 2038), ('frozen', 1991), ('shallots', 1866), ('sea', 1857), ('peppers', 1844), ('light', 1806), ('cooked', 1761), ('mozzarella', 1759), ('honey', 1756), ('noodles', 1751), ('heavy', 1744), ('spinach', 1719), ('mint', 1701), ('olives', 1700), ('peas', 1672), ('sliced', 1670), ('salsa', 1663), ('canola', 1624), ('avocado', 1604), ('cabbage', 1549), ('pasta', 1530), ('bacon', 1526), ('lettuce', 1521), ('breast', 1509), ('yogurt', 1478), ('sausage', 1446), ('cucumber', 1429), ('yolks', 1404), ('flat', 1391), ('seed', 1376), ('dark', 1343), ('masala', 1340), ('nutmeg', 1340), ('freshly', 1318), ('soda', 1317), ('free', 1282), ('fillets', 1270), ('buttermilk', 1266), ('halves', 1239), ('turmeric', 1218), ('peanut', 1189), ('reduced', 1183), ('garam', 1181), ('whites', 1181), ('granulated', 1165), ('zucchini', 1152), ('plum', 1140), ('zest', 1129), ('plain', 1121), ('italian', 1113), ('chocolate', 1085), ('toasted', 1075), ('whipping', 1051), ('grain', 1049), ('almonds', 1047), ('peeled', 1031), ('rosemary', 1028), ('smoked', 1022), ('crumbs', 1012), ('peppercorns', 1008), ('peanuts', 996), ('sprigs', 985), ('mayonaise', 983), ('baby', 969), ('tumeric', 963), ('yeast', 961), ('cardamom', 949), ('roasted', 913), ('half', 909), ('coarse', 903), ('ricotta', 903), ('raisins', 886), ('ribs', 885), ('long', 872), ('worcestershire', 867), ('of', 856), ('sticks', 848), ('ham', 842), ('cider', 833), ('chinese', 826), ('feta', 825), ('fennel', 821), ('steak', 814), ('jack', 814), ('mix', 806), ('meat', 800), ('clove', 795), ('tofu', 794), ('chiles', 792), ('taco', 785), ('wheat', 782), ('sherry', 780), ('turkey', 777), ('medium', 773), ('chives', 770), ('syrup', 761), ('warm', 752), ('ice', 748), ('shiitake', 741), ('balsamic', 734), ('lamb', 724), ('dijon', 709), ('root', 699), ('lean', 699), ('greens', 687), ('serrano', 687), ('less', 682), ('chips', 682), ('allspice', 682), ('unsweetened', 682), ('powdered', 679), ('capers', 676), ('cold', 673), ('roast', 665), ('slices', 660), ('broccoli', 653), ('condensed', 651), ('finely', 648), ('bean', 648), ('eggplant', 645), ('ketchup', 643), ('cornmeal', 630), ('mirin', 626), ('and', 624), ('cherry', 624), ('wedges', 619), ('in', 619), ('greek', 615), ('oyster', 611), ('saffron', 609), ('spring', 606), ('Italian', 599), ('sharp', 592), ('skim', 587), ('beansprouts', 585), ('thai', 582), ('boiling', 579), ('peel', 578), ('pecans', 570), ('soup', 568), ('sage', 563), ('squash', 562), ('leeks', 561), ('dill', 559), ('spaghetti', 550), ('thighs', 547), ('apple', 541), ('potato', 535), ('reggiano', 535), ('chickpeas', 527), ('shoulder', 525), ('golden', 519), ('hoisin', 518), ('kernels', 518), ('parmigiano', 516), ('tortilla', 513), ('kalamata', 513), ('cracked', 509), ('Mexican', 507), ('enchilada', 506), ('crumbles', 503), ('confectioners', 501), ('thigh', 500), ('apples', 499), ('sausages', 496), ('anise', 495), ('meal', 492), ('cajun', 488), ('pitted', 488), ('active', 488), ('firm', 486), ('pineapple', 485), ('fine', 480), ('cocoa', 479), ('nuts', 468), ('chipotle', 468), ('dressing', 468), ('wrappers', 463), ('part', 461), ('spice', 460), ('lemongrass', 450), ('tenderloin', 448), ('creole', 446), ('shortening', 445), ('canned', 440), ('pastry', 440), ('mango', 438), ('sweetened', 435), ('pinenuts', 435), ('salad', 433), ('dough', 431), ('sake', 427), ('romaine', 426), ('pizza', 426), ('basmati', 424), ('style', 423), ('baguette', 420), ('asparagus', 419), ('okra', 415), ('almond', 405), ('ghee', 403), ('tomatillos', 402), ('florets', 401), ('cake', 400), ('lentils', 397), ('adobo', 396), ('threads', 395), ('poblano', 394), ('cauliflower', 394), ('penne', 392), ('Jack', 390), ('mushroom', 389), ('salmon', 388), ('Monterey', 384), ('Sriracha', 380), ('grits', 374), ('radishes', 371), ('kidney', 369), ('Sauce', 367), ('romano', 365), ('arborio', 363), ('peaches', 362), ('french', 360), ('five', 358), ('refried', 358), ('walnuts', 357), ('lasagna', 356), ('vegetables', 356), ('grape', 354), ('sirloin', 354), ('prosciutto', 353), ('whiskey', 352), ('pods', 351), ('monterey', 348), ('beer', 347), ('andouille', 345), ('miso', 345), ('yoghurt', 345), ('melted', 343), ('anchovy', 343), ('steaks', 343), ('loin', 342), ('russet', 340), ('shells', 339), ('instant', 335), ('margarine', 331), ('star', 326), ('rib', 326), ('Thai', 324), ('chorizo', 322), ('flank', 321), ('nonfat', 319), ('Shaoxing', 316), ('linguine', 313), ('goat', 311), ('asian', 309), ('evaporated', 309), ('tarragon', 309), ('ancho', 308), ('de', 307), ('coffee', 305), ('cashew', 305), ('chuck', 303), ('rum', 302), ('self', 302), ('blend', 302), ('gold', 301), ('bouillon', 300), ('rising', 296), ('pur', 294), ('kernel', 294), ('pie', 293), ('chops', 292), ('napa', 291), ('marinara', 290), ('crab', 290), ('chestnuts', 289), ('rolls', 288), ('bulb', 284), ('bananas', 284), ('arugula', 283), ('swiss', 281), ('strawberries', 281), ('wedge', 281), ('packed', 278), ('roma', 275), ('pecorino', 275), ('queso', 275), ('yukon', 273), ('seasoned', 272), ('cubes', 271), ('pesto', 271), ('choy', 271), ('Pepper', 271), ('pinto', 266), ('panko', 265), ('couscous', 265), ('bourbon', 265), ('drain', 264), ('apricot', 263), ('spices', 262), ('pure', 262), ('tamarind', 260), ('food', 260), ('sun', 260), ('base', 259), ('breadcrumbs', 259), ('Tabasco', 258), ('1%', 257), ('english', 257), ('mixed', 257), ('cannellini', 256), ('scallops', 256), ('bok', 252), ('salted', 251), ('tuna', 251), ('crust', 250), ('kale', 247), ('pumpkin', 246), ('chipotles', 245), ('eyed', 244), ('stewed', 243), ('guacamole', 241), ('brandy', 241), ('liqueur', 240), ('veal', 239), ('clams', 239), ('rind', 239), ('short', 238), ('mussels', 234), ('slivered', 234), ('hearts', 234), ('crumb', 230), ('fresco', 229), ('tartar', 228), ('unbleached', 228), ('tea', 226), ('semisweet', 225), ('raspberries', 224), ('snow', 223), ('cottage', 223), ('fenugreek', 222), ('butternut', 221), ('button', 220), ('small', 219), ('iceberg', 217), ('dal', 217), ('vermicelli', 217), ('pancetta', 216), ('sprouts', 214), ('puff', 211), ('whipped', 211), ('refrigerated', 211), ('herbs', 210), ('lard', 209), ('with', 207), ('wonton', 206), ('collard', 205), ('jasmine', 205), ('palm', 204), ('soft', 204), ('cr', 203), ('me', 203), ('caster', 200), ('provolone', 199), ('tequila', 199), ('dashi', 197), ('marjoram', 197), ('shoots', 196), ('cherries', 195), ('polenta', 194), ('daikon', 192), ('artichoke', 192), ('non', 192), ('old', 191), ('mayonnaise', 190), ('bittersweet', 190), ('fettucine', 189), ('fra', 189), ('che', 189), ('hominy', 188), ('bone', 187), ('cut', 187), ('quinoa', 186), ('country', 186), ('pears', 186), ('soften', 186), ('clam', 185), ('garbanzo', 184), ('leg', 184), ('pecan', 183), ('nori', 182), ('pimentos', 181), ('prepared', 181), ('mascarpone', 180), ('sheets', 180), ('firmly', 180), ('molasses', 178), ('Gochujang', 178), ('maple', 178), ('duck', 178), ('szechwan', 178), ('fontina', 175), ('kaffir', 175), ('lower', 174), ('bamboo', 174), ('masa', 174), ('boiled', 172), ('spanish', 171), ('cotija', 171), ('legs', 170), ('gelatin', 170), ('cremini', 170), ('round', 169), ('pea', 169), ('hard', 168), ('verde', 168), ('wings', 166), ('horseradish', 164), ('berries', 163), ('hazelnuts', 163), ('beets', 162), ('chunky', 161), ('butt', 161), ('chees', 160), ('paneer', 160), ('mung', 160), ('phyllo', 159), ('belly', 159), ('chard', 158), ('roll', 157), ('turnips', 156), ('pearl', 156), ('catfish', 155), ('fruit', 155), ('macaroni', 155), ('espresso', 154), ('kimchi', 154), ('concentrate', 153), ('chop', 153), ('semolina', 153), ('barbecue', 153), ('orzo', 152), ('liquid', 151), ('drumsticks', 150), ('pistachios', 149), ('chillies', 148), ('casings', 148), ('marsala', 148), ('creamy', 146), ('granny', 146), ('smith', 146), ('pieces', 146), ('crawfish', 145), ('buns', 144), ('pita', 144), ('mild', 144), ('doughs', 144), ('cashews', 143), ('sunflower', 143), ('gingerroot', 143), ('mexican', 143), ('shell', 142), ('lump', 141), ('chutney', 141), ('nectar', 141), ('watercress', 140), ('vidalia', 140), ('cod', 139), ('porcini', 139), ('grass', 139), ('stew', 139), ('tamari', 138), ('granules', 138), ('jumbo', 138), ('tapioca', 136), ('gruyere', 135), ('soba', 135), ('asafoetida', 134), ('caps', 134), ('bow', 133), ('tie', 133), ('prawns', 132), ('unflavored', 132), ('blanched', 131), ('cornflour', 129), ('angel', 129), ('raw', 128), ('halibut', 127), ('oats', 126), ('seedless', 126), ('drippings', 125), ('fillet', 124), ('pepperoni', 124), ('jam', 124), ('crumbled', 123), ('flavored', 123), ('steamed', 123), ('harina', 122), ('ripe', 122), ('morsels', 121), ('cranberries', 120), ('pickled', 120), ('tilapia', 120), ('guajillo', 119), ('hair', 119), ('salami', 118), ('leav', 118), ('biscuits', 118), ('blueberries', 118), ('top', 117), ('cognac', 117), ('bonito', 116), ('elbow', 116), ('organic', 115), ('crema', 115), ('gluten', 115), ('squid', 115), ('blackberries', 114), ('oysters', 113), ('japanese', 113), ('eggplants', 112), ('husks', 112), ('quickcooking', 111), ('wasabi', 111), ('pickles', 111), ('sushi', 111), ('caraway', 111), ('coloring', 111), ('chickens', 111), ('oranges', 110), ('jicama', 110), ('ranch', 109), ('currants', 109), ('marinade', 109), ('amchur', 108), ('banana', 108), ('crabmeat', 108), ('sandwich', 108), ('rigatoni', 108), ('pico', 107), ('gallo', 107), ('galangal', 107), ('mace', 106), ('agave', 106), ('stick', 106), ('sourdough', 105), ('artichokes', 105), ('new', 105), ('stems', 105), ('asiago', 104), ('edamame', 104), ('preserves', 104), ('links', 104), ('cured', 104), ('2%', 103), ('prunes', 103), ('slaw', 102), ('blue', 101), ('semi', 101), ('table', 101), ('substitute', 101), ('peach', 101), ('vodka', 101), ('crackers', 100), ('on', 100), ('double', 99), ('topping', 99), ('paper', 99), ('vinaigrette', 99), ('poppy', 99), ('cutlets', 98), ('shanks', 98), ('skimmed', 96), ('ear', 96), ('wild', 96), ('snapper', 96), ('graham', 95), ('tortellini', 95), ('bones', 95), ('methi', 95), ('cachaca', 95), ('hamburger', 94), ('candied', 94), ('grapeseed', 94), ('superfine', 93), ('ramen', 93), ('colby', 92), ('bass', 92), ('brewed', 91), ('whip', 91), ('udon', 89), ('mini', 89), ('brisket', 89), ('skirt', 88), ('bags', 88), ('konbu', 88), ('lima', 88), ('baked', 88), ('herbes', 88), ('preserved', 87), ('parsnips', 87), ('piecrusts', 87), ('date', 87), ('vermouth', 87), ('bird', 87), ('grating', 87), ('mashed', 87), ('portabello', 86), ('rotisserie', 86), ('lobster', 86), ('capsicum', 85), ('eye', 85), ('habanero', 85), ('urad', 84), ('Cheese', 84), ('gorgonzola', 84), ('curds', 84), ('dates', 84), ('hungarian', 83), ('harissa', 82), ('split', 82), ('hocks', 82), ('radicchio', 82), ('crimini', 82), ('heart', 82), ('tahini', 81), ('pear', 81), ('teriyaki', 81), ('pickle', 81), ('file', 81), ('port', 81), ('roasting', 81), ('figs', 80), ('slice', 80), ('dipping', 80), ('rotini', 80), ('provence', 80), ('cracker', 79), ('sauces', 79), ('sambal', 79), ('livers', 78), ('papaya', 78), ('pudding', 78), ('poultry', 78), ('currant', 78), ('quick', 78), ('processed', 78), ('Gruy', 77), ('re', 77), ('manchego', 76), ('spears', 76), ('cane', 76), ('dri', 76), ('brine', 76), ('escarole', 76), ('littleneck', 76), ('or', 76), ('gnocchi', 75), ('picante', 75), ('sprinkles', 75), ('deveined', 75), ('Chinese', 75), ('no', 75), ('natural', 74), ('fettuccine', 74), ('gram', 74), ('plums', 74), ('grapefruit', 73), ('seaweed', 73), ('prepar', 73), ('homemade', 73), ('thick', 73), ('pimento', 73), ('stuffed', 73), ('pomegranate', 73), ('mein', 72), ('silken', 72), ('Cream', 72), ('center', 72), ('rock', 72), ('scallion', 71), ('jerk', 71), ('bottled', 71), ('relish', 71), ('barley', 70), ('Old', 70), ('glutinous', 70), ('for', 70), ('Alfredo', 70), ('beaten', 70), ('raspberry', 70), ('anchovies', 70), ('liver', 70), ('El', 69), ('Paso', 69), ('savoy', 69), ('champagne', 69), ('navel', 69), ('clarified', 69), ('shelled', 69), ('curd', 68), ('tart', 68), ('cornbread', 68), ('gravy', 68), ('whitefish', 68), ('cocktail', 68), ('vine', 67), ('kasuri', 67), ('back', 67), ('flaked', 67), ('crusts', 67), ('rabe', 66), ('asafetida', 66), ('Anaheim', 66), ('artichok', 66), ('marin', 66), ('seafood', 65), ('scotch', 65), ('yams', 65), ('fusilli', 65), ('turbinado', 64), ('store', 64), ('bought', 64), ('range', 64), ('malt', 64), ('endive', 64), ('added', 64), ('kielbasa', 63), ('California', 63), ('ravioli', 63), ('ulek', 63), ('walnut', 63), ('chunks', 63), ('crusty', 62), ('great', 61), ('northern', 61), ('chickpea', 61), ('fry', 61), ('uncook', 61), ('fingers', 61), ('candy', 61), ('marmalade', 61), ('marshmallows', 60), ('nonstick', 60), ('Japanese', 60), ('filet', 60), ('rubbed', 60), ('arbol', 60), ('pitas', 59), ('haricots', 59), ('verts', 59), ('fried', 59), ('vietnamese', 59), ('hellmann', 59), ('best', 59), ('mayonnais', 59), ('Irish', 59), ('club', 58), ('softened', 58), ('drained', 58), ('watermelon', 58), ('rocket', 58), ('croutons', 58), ('grapes', 58), ('enokitake', 58), ('gari', 57), ('sauc', 57), ('pickling', 57), ('orecchiette', 57), ('flower', 57), ('essence', 57), ('buckwheat', 56), ('stir', 56), ('cookies', 56), ('carrot', 56), ('hock', 55), ('rose', 55), ('ciabatta', 55), ('ready', 55), ('regular', 55), ('glass', 54), ('safflower', 54), ('jeera', 54), ('Oil', 54), ('oven', 54)]
<class 'list'>

In [10]:
#計算出用字詞頻，以利未來製作feature標籤
df_frq = pd.DataFrame(frq, columns=["words","frq"])
df_frq

           words    frq
0         pepper  31909
1           salt  30573
2            oil  29048
3         garlic  23614
4         ground  22836
5          fresh  22161
6          sauce  15987
7          sugar  15621
8         onions  15450
9         cheese  14638
10       chicken  14300
11         olive  13539
12         black  13465
13         water  12219
14           red  11525
15         flour  11082
16        butter  10804
17      tomatoes  10717
18         green  10643
19        powder  10302
20       chopped   9802
21        cloves   9422
22         juice   8970
23         white   8626
24         onion   8609
25          eggs   8170
26          rice   7661
27         cream   7628
28      cilantro   7432
29          milk   7353
..           ...    ...
870    mayonnais     59
871        Irish     59
872         club     58
873     softened     58
874      drained     58
875   watermelon     58
876       rocket     58
877     croutons     58
878       grapes     58
879    enokitake     58
880         gari     57
881         sauc     57
882     pickling     57
883  orecchiette     57
884       flower     57
885      essence     57
886    buckwheat     56
887         stir     56
888      cookies     56
889       carrot     56
890         hock     55
891         rose     55
892     ciabatta     55
893        ready     55
894      regular     55
895        glass     54
896    safflower     54
897        jeera     54
898          Oil     54
899         oven     54

[900 rows x 2 columns]

In [11]:
df_frq.to_csv("df_frq.csv", index= False)

In [12]:
def list_2_str(L):
    str1 = ''.join(L)
    return str1

In [13]:
df['ingred']= df['ingredients'].apply(lambda x: list_2_str(x))

In [16]:
#用結巴出來的結果系統性貼標
for a in df_frq['words']:
    df['used_%s'% (a)]= df['ingred'].str.contains('%s'% (a),na=False)*1
    df['used_%s'% (a)].astype('int8')

0        1
1        1
2        1
3        0
4        1
5        0
6        1
7        0
8        1
9        0
10       1
11       1
12       1
13       1
14       1
15       1
16       0
17       0
18       0
19       1
20       0
21       0
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       0
        ..
49688    1
49689    1
49690    0
49691    1
49692    0
49693    0
49694    1
49695    1
49696    1
49697    1
49698    1
49699    0
49700    1
49701    0
49702    0
49703    1
49704    0
49705    1
49706    0
49707    1
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    1
49716    1
49717    1
Name: used_pepper, Length: 49718, dtype: int8

0        0
1        1
2        1
3        1
4        1
5        1
6        1
7        0
8        1
9        1
10       0
11       0
12       1
13       1
14       1
15       0
16       0
17       0
18       0
19       1
20       0
21       1
22       1
23       0
24       0
25       1
26       0
27       1
28       0
29       0
        ..
49688    0
49689    1
49690    1
49691    0
49692    1
49693    0
49694    1
49695    0
49696    0
49697    0
49698    1
49699    1
49700    1
49701    1
49702    1
49703    1
49704    0
49705    1
49706    1
49707    1
49708    1
49709    0
49710    1
49711    1
49712    1
49713    1
49714    1
49715    1
49716    1
49717    0
Name: used_salt, Length: 49718, dtype: int8

0        0
1        1
2        1
3        1
4        1
5        0
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       0
15       0
16       0
17       1
18       0
19       1
20       0
21       0
22       0
23       1
24       1
25       1
26       1
27       0
28       1
29       0
        ..
49688    1
49689    1
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    1
49705    1
49706    1
49707    0
49708    0
49709    1
49710    0
49711    1
49712    1
49713    0
49714    0
49715    1
49716    0
49717    1
Name: used_oil, Length: 49718, dtype: int8

0        1
1        0
2        1
3        0
4        1
5        0
6        1
7        0
8        0
9        1
10       1
11       1
12       1
13       1
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    1
49704    0
49705    1
49706    1
49707    1
49708    0
49709    0
49710    0
49711    1
49712    1
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_garlic, Length: 49718, dtype: int8

0        0
1        1
2        0
3        0
4        1
5        1
6        0
7        0
8        1
9        0
10       0
11       1
12       0
13       1
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       1
29       0
        ..
49688    1
49689    1
49690    0
49691    1
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    1
49701    0
49702    1
49703    1
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_ground, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        1
9        1
10       0
11       1
12       1
13       1
14       1
15       0
16       0
17       0
18       0
19       1
20       1
21       0
22       0
23       1
24       0
25       0
26       1
27       0
28       1
29       0
        ..
49688    0
49689    1
49690    1
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    1
49707    0
49708    0
49709    1
49710    0
49711    0
49712    1
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_fresh, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       1
19       1
20       1
21       0
22       0
23       1
24       1
25       1
26       0
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    0
49691    1
49692    0
49693    0
49694    1
49695    1
49696    0
49697    1
49698    0
49699    0
49700    1
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    1
49708    0
49709    1
49710    0
49711    1
49712    0
49713    0
49714    1
49715    0
49716    0
49717    0
Name: used_sauce, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        1
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       1
17       0
18       1
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    1
49693    1
49694    0
49695    0
49696    0
49697    0
49698    0
49699    1
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    1
49709    1
49710    1
49711    1
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_sugar, Length: 49718, dtype: int8

0        1
1        0
2        1
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       1
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       1
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    1
49697    1
49698    1
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    1
49706    1
49707    0
49708    1
49709    0
49710    0
49711    1
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_onions, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       1
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       1
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    1
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    1
49717    0
Name: used_cheese, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       1
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    1
49698    1
49699    0
49700    0
49701    0
49702    0
49703    1
49704    1
49705    1
49706    1
49707    0
49708    0
49709    1
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    1
Name: used_chicken, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        1
7        1
8        1
9        1
10       1
11       0
12       1
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    1
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_olive, Length: 49718, dtype: int8

0        1
1        1
2        0
3        0
4        1
5        0
6        0
7        0
8        1
9        0
10       1
11       0
12       0
13       1
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       1
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    1
49701    0
49702    0
49703    1
49704    0
49705    1
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    1
49717    0
Name: used_black, Length: 49718, dtype: int8

0        0
1        0
2        0
3        1
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    1
49690    0
49691    1
49692    0
49693    0
49694    0
49695    0
49696    1
49697    1
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    1
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    1
Name: used_water, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        0
9        0
10       0
11       1
12       1
13       1
14       0
15       1
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       1
24       1
25       0
26       1
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    1
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    1
49707    0
49708    1
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_red, Length: 49718, dtype: int8

0        0
1        1
2        0
3        0
4        1
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       1
        ..
49688    1
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    1
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_flour, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        1
5        1
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    1
49700    1
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    1
49709    0
49710    1
49711    0
49712    0
49713    0
49714    1
49715    0
49716    1
49717    0
Name: used_butter, Length: 49718, dtype: int8

0        1
1        1
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        1
10       0
11       0
12       0
13       1
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       1
22       0
23       0
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    1
49704    0
49705    1
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    1
49717    1
Name: used_tomatoes, Length: 49718, dtype: int8

0        0
1        1
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    1
49692    0
49693    0
49694    0
49695    1
49696    0
49697    1
49698    0
49699    0
49700    1
49701    0
49702    0
49703    1
49704    0
49705    1
49706    1
49707    0
49708    0
49709    0
49710    0
49711    1
49712    1
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_green, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        1
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    1
49704    0
49705    0
49706    1
49707    1
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_powder, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        1
9        1
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       1
21       1
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chopped, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    1
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_cloves, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       1
14       0
15       0
16       0
17       0
18       1
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    1
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_juice, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        1
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    1
49700    0
49701    1
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    1
Name: used_white, Length: 49718, dtype: int8

0        1
1        0
2        1
3        0
4        1
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       1
14       0
15       1
16       0
17       0
18       0
19       1
20       0
21       1
22       0
23       0
24       0
25       0
26       1
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    1
49691    0
49692    0
49693    0
49694    1
49695    0
49696    1
49697    1
49698    1
49699    0
49700    1
49701    0
49702    1
49703    1
49704    1
49705    1
49706    1
49707    0
49708    1
49709    0
49710    0
49711    1
49712    1
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_onion, Length: 49718, dtype: int8

0        0
1        1
2        1
3        0
4        0
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       1
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    1
49700    0
49701    1
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    1
49709    0
49710    1
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_eggs, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    1
49691    0
49692    0
49693    1
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    1
49705    1
49706    1
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rice, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_cream, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        1
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       1
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_cilantro, Length: 49718, dtype: int8

0        0
1        1
2        0
3        0
4        1
5        1
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    1
49700    0
49701    1
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_milk, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       1
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       1
27       0
28       0
29       0
        ..
49688    1
49689    1
49690    1
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    1
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_lemon, Length: 49718, dtype: int8

0        0
1        1
2        0
3        1
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_vegetable, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_leaves, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       1
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    1
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    1
49709    0
49710    1
49711    0
49712    0
49713    1
49714    0
49715    1
49716    0
49717    0
Name: used_large, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    1
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ginger, Length: 49718, dtype: int8

0        0
1        1
2        0
3        0
4        1
5        0
6        0
7        0
8        1
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_corn, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        1
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    1
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_dried, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       1
19       1
20       0
21       1
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    1
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_lime, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_vinegar, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       1
24       0
25       1
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_soy, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    1
49689    1
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    1
49711    1
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_all, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    1
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_purpose, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_cumin, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    1
49691    1
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    1
49703    1
49704    0
49705    1
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_broth, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        1
5        0
6        1
7        0
8        1
9        0
10       0
11       0
12       0
13       1
14       0
15       1
16       0
17       0
18       1
19       1
20       0
21       1
22       0
23       0
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    1
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chili, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_wine, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_bell, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        1
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_parsley, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sesame, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_beans, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_grated, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        1
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       1
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    1
49701    0
49702    1
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_kosher, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_carrots, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        1
8        0
9        1
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_extra, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        1
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_basil, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    1
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_beef, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_dry, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_seeds, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_brown, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_paste, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_baking, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    1
49700    1
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    1
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_unsalted, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_parmesan, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        0
5        0
6        1
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       1
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chilies, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_boneless, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        1
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_virgin, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_oregano, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    1
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_shredded, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cinnamon, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fat, Length: 49718, dtype: int8

0        1
1        1
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        1
10       0
11       0
12       0
13       1
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       1
22       0
23       0
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    1
49704    0
49705    1
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    1
49717    1
Name: used_tomato, Length: 49718, dtype: int8

0        0
1        1
2        1
3        0
4        0
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       1
29       1
        ..
49688    0
49689    1
49690    1
49691    1
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    1
49699    1
49700    0
49701    1
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    1
49709    0
49710    1
49711    1
49712    0
49713    1
49714    0
49715    1
49716    0
49717    0
Name: used_egg, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    1
49715    0
49716    0
49717    1
Name: used_potatoes, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    1
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_cooking, Length: 49718, dtype: int8

0        0
1        1
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_thyme, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pork, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_shrimp, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_chile, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_diced, Length: 49718, dtype: int8

0        0
1        1
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    1
49701    0
49702    1
49703    0
49704    0
49705    0
49706    1
49707    0
49708    1
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_yellow, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    1
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_bread, Length: 49718, dtype: int8

0        0
1        1
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       1
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    1
49701    0
49702    1
49703    0
49704    0
49705    0
49706    1
49707    0
49708    1
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_low, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_seasoning, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       1
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_tortillas, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_skinless, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_sodium, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_vanilla, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_coconut, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_coriander, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_celery, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        1
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bay, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    1
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_cayenne, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_breasts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_minced, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        1
7        0
8        0
9        1
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_leaf, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mushrooms, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_whole, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    1
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crushed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    1
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_spray, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sour, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       1
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_flakes, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_starch, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    1
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_paprika, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_stock, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       1
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_purple, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_scallions, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       1
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    1
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    1
49715    0
49716    0
49717    0
Name: used_hot, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    1
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_cheddar, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       1
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fish, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mustard, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_extract, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_orange, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       1
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_jalapeno, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    1
49715    0
49716    0
49717    0
Name: used_sweet, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_curry, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_frozen, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_shallots, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       1
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sea, Length: 49718, dtype: int8

0        0
1        1
2        1
3        0
4        1
5        0
6        0
7        0
8        1
9        0
10       1
11       1
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       1
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    1
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_peppers, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_light, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cooked, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mozzarella, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_honey, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_noodles, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_heavy, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_spinach, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mint, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_olives, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    1
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_peas, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sliced, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    1
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_salsa, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_canola, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    1
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_avocado, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cabbage, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    1
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pasta, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    1
49701    0
49702    0
49703    1
49704    0
49705    1
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bacon, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_lettuce, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_breast, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       1
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_yogurt, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       1
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sausage, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cucumber, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    1
49711    0
49712    0
49713    1
49714    0
49715    1
49716    0
49717    0
Name: used_yolks, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        1
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_flat, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_seed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_dark, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_masala, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_nutmeg, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_freshly, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_soda, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_free, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fillets, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_buttermilk, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_halves, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_turmeric, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_peanut, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_reduced, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_garam, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    1
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_whites, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_granulated, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    1
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_zucchini, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_plum, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_zest, Length: 49718, dtype: int8

0        0
1        1
2        0
3        0
4        0
5        1
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_plain, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    1
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_italian, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_chocolate, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_toasted, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_whipping, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    1
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_grain, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_almonds, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_peeled, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rosemary, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_smoked, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    1
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_crumbs, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_peppercorns, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_peanuts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_sprigs, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    1
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mayonaise, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_baby, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tumeric, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_yeast, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cardamom, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_roasted, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_half, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_coarse, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_ricotta, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_raisins, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ribs, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    1
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_long, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    1
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_worcestershire, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_of, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sticks, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ham, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cider, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chinese, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_feta, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fennel, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_steak, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_jack, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mix, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_meat, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    1
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_clove, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tofu, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chiles, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_taco, Length: 49718, dtype: int8

0        0
1        0
2        0
3        1
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_wheat, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sherry, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_turkey, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_medium, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chives, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_syrup, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_warm, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        1
9        1
10       0
11       0
12       1
13       1
14       1
15       0
16       0
17       0
18       1
19       1
20       1
21       0
22       0
23       0
24       0
25       0
26       1
27       1
28       0
29       0
        ..
49688    1
49689    1
49690    1
49691    0
49692    0
49693    1
49694    0
49695    1
49696    0
49697    0
49698    1
49699    0
49700    0
49701    1
49702    0
49703    1
49704    1
49705    1
49706    1
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_ice, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_shiitake, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_balsamic, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_lamb, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_dijon, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    1
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_root, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_lean, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_greens, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_serrano, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_less, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chips, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_allspice, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_unsweetened, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_powdered, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_capers, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_cold, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_roast, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_slices, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_broccoli, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_condensed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_finely, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_bean, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    1
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_eggplant, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ketchup, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cornmeal, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mirin, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_and, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cherry, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_wedges, Length: 49718, dtype: int8

0        1
1        1
2        1
3        0
4        1
5        1
6        1
7        1
8        1
9        1
10       0
11       1
12       1
13       1
14       1
15       1
16       0
17       1
18       0
19       1
20       1
21       0
22       1
23       1
24       1
25       1
26       0
27       0
28       1
29       0
        ..
49688    1
49689    1
49690    0
49691    1
49692    1
49693    1
49694    1
49695    1
49696    1
49697    1
49698    0
49699    0
49700    0
49701    1
49702    1
49703    1
49704    1
49705    1
49706    1
49707    0
49708    0
49709    1
49710    0
49711    1
49712    0
49713    1
49714    0
49715    0
49716    1
49717    1
Name: used_in, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       1
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_greek, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_oyster, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    1
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_saffron, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_spring, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Italian, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    1
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sharp, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_skim, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_beansprouts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_thai, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_boiling, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_peel, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pecans, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_soup, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       1
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sage, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    1
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_squash, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_leeks, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_dill, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_spaghetti, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_thighs, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_apple, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    1
49715    0
49716    0
49717    1
Name: used_potato, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_reggiano, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chickpeas, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_shoulder, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_golden, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_hoisin, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_kernels, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_parmigiano, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       1
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_tortilla, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_kalamata, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cracked, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Mexican, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_enchilada, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crumbles, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       1
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_confectioners, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_thigh, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_apples, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       1
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sausages, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_anise, Length: 49718, dtype: int8

0        0
1        1
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_meal, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cajun, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pitted, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_active, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_firm, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pineapple, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fine, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cocoa, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        1
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_nuts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_chipotle, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_dressing, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_wrappers, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_part, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_spice, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_lemongrass, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tenderloin, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_creole, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_shortening, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_canned, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pastry, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mango, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sweetened, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pinenuts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_salad, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_dough, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sake, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_romaine, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pizza, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_basmati, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_style, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_baguette, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_asparagus, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_okra, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_almond, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ghee, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tomatillos, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_florets, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cake, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_lentils, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    1
49715    0
49716    0
49717    1
Name: used_adobo, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_threads, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_poblano, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cauliflower, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_penne, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Jack, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mushroom, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_salmon, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Monterey, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Sriracha, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_grits, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_radishes, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_kidney, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_Sauce, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_romano, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_arborio, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_peaches, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_french, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_five, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_refried, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_walnuts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_lasagna, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_vegetables, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_grape, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sirloin, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_prosciutto, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_whiskey, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pods, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_monterey, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_beer, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_andouille, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_miso, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_yoghurt, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_melted, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_anchovy, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_steaks, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_loin, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_russet, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_shells, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_instant, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_margarine, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_star, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rib, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Thai, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chorizo, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_flank, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_nonfat, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Shaoxing, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_linguine, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_goat, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       1
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_asian, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_evaporated, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tarragon, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_ancho, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        1
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    1
49704    1
49705    0
49706    1
49707    1
49708    1
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_de, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_coffee, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cashew, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chuck, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    1
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_rum, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_self, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_blend, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_gold, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bouillon, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rising, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       1
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    1
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pur, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_kernel, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pie, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chops, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_napa, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_marinara, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crab, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chestnuts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rolls, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bulb, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bananas, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_arugula, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_swiss, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_strawberries, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_wedge, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_packed, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       1
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_roma, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pecorino, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_queso, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_yukon, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_seasoned, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cubes, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pesto, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_choy, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_Pepper, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pinto, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_panko, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_couscous, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_bourbon, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_drain, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    1
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_apricot, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_spices, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pure, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tamarind, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_food, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    1
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sun, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_base, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_breadcrumbs, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_Tabasco, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_1%, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_english, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mixed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cannellini, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_scallops, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bok, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    1
49700    1
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    1
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_salted, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tuna, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crust, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_kale, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pumpkin, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_chipotles, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_eyed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_stewed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_guacamole, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_brandy, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_liqueur, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_veal, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_clams, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rind, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_short, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mussels, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_slivered, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_hearts, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    1
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_crumb, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_fresco, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tartar, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_unbleached, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tea, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_semisweet, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       1
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_raspberries, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_snow, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cottage, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fenugreek, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_butternut, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_button, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_small, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_iceberg, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_dal, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_vermicelli, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pancetta, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sprouts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_puff, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_whipped, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_refrigerated, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_herbs, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_lard, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_with, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_wonton, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_collard, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_jasmine, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_palm, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_soft, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        1
5        0
6        0
7        1
8        0
9        0
10       0
11       1
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       1
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    1
49700    0
49701    1
49702    1
49703    1
49704    1
49705    0
49706    0
49707    0
49708    1
49709    0
49710    0
49711    0
49712    1
49713    1
49714    0
49715    1
49716    0
49717    0
Name: used_cr, Length: 49718, dtype: int8

0        0
1        1
2        0
3        0
4        0
5        0
6        1
7        0
8        1
9        0
10       1
11       1
12       0
13       1
14       1
15       1
16       0
17       0
18       1
19       1
20       1
21       1
22       0
23       1
24       0
25       1
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    1
49694    1
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    1
49703    1
49704    1
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_me, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    1
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_caster, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_provolone, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tequila, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_dashi, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_marjoram, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_shoots, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cherries, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_polenta, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_daikon, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_artichoke, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_non, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_old, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mayonnaise, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_bittersweet, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fettucine, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fra, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       1
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       1
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    1
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    1
49717    0
Name: used_che, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_hominy, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_bone, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cut, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_quinoa, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_country, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_pears, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_soften, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_clam, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_garbanzo, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_leg, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pecan, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_nori, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pimentos, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_prepared, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mascarpone, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sheets, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_firmly, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_molasses, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Gochujang, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_maple, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_duck, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_szechwan, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fontina, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_kaffir, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_lower, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bamboo, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    1
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_masa, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_boiled, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_spanish, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cotija, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_legs, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_gelatin, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cremini, Length: 49718, dtype: int8

0        0
1        1
2        0
3        0
4        1
5        1
6        0
7        0
8        1
9        0
10       0
11       1
12       0
13       1
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       1
29       0
        ..
49688    1
49689    1
49690    0
49691    1
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    1
49701    0
49702    1
49703    1
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_round, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    1
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_pea, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_hard, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_verde, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_wings, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_horseradish, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       1
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_berries, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_hazelnuts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_beets, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chunky, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        1
5        1
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    1
49700    1
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    1
49709    0
49710    1
49711    0
49712    0
49713    0
49714    1
49715    0
49716    1
49717    0
Name: used_butt, Length: 49718, dtype: int8

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       1
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       1
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    1
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    1
49717    0
Name: used_chees, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_paneer, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mung, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_phyllo, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_belly, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chard, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_roll, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_turnips, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pearl, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_catfish, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fruit, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_macaroni, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_espresso, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_kimchi, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_concentrate, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        1
9        1
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       1
21       1
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chop, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_semolina, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_barbecue, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_orzo, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_liquid, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_drumsticks, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pistachios, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chillies, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_casings, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_marsala, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_creamy, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_granny, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_smith, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pieces, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crawfish, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_buns, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pita, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mild, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_doughs, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cashews, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sunflower, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    1
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_gingerroot, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mexican, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_shell, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_lump, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chutney, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_nectar, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_watercress, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_vidalia, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cod, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_porcini, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_grass, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_stew, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tamari, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_granules, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_jumbo, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tapioca, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_gruyere, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_soba, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_asafoetida, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_caps, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    1
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bow, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tie, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_prawns, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_unflavored, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_blanched, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cornflour, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_angel, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_raw, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_halibut, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_oats, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_seedless, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_drippings, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fillet, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    1
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pepperoni, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    1
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_jam, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crumbled, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_flavored, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_steamed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_harina, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ripe, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_morsels, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cranberries, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pickled, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tilapia, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_guajillo, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_hair, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_salami, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_leav, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_biscuits, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_blueberries, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_top, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cognac, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bonito, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    1
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_elbow, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_organic, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crema, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_gluten, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_squid, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_blackberries, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_oysters, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_japanese, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_eggplants, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_husks, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_quickcooking, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_wasabi, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pickles, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sushi, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_caraway, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_coloring, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chickens, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_oranges, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_jicama, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ranch, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_currants, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_marinade, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_amchur, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_banana, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crabmeat, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sandwich, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rigatoni, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pico, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_gallo, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_galangal, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mace, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_agave, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_stick, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sourdough, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_artichokes, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_new, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_stems, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_asiago, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_edamame, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    1
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_preserves, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_links, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cured, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_2%, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_prunes, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_slaw, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_blue, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_semi, Length: 49718, dtype: int8

0        0
1        1
2        0
3        1
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    1
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_table, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    1
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_substitute, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_peach, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_vodka, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    1
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crackers, Length: 49718, dtype: int8

0        1
1        0
2        1
3        0
4        1
5        1
6        0
7        1
8        1
9        0
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       0
19       1
20       0
21       1
22       1
23       0
24       1
25       0
26       1
27       0
28       1
29       0
        ..
49688    1
49689    1
49690    1
49691    1
49692    0
49693    0
49694    1
49695    1
49696    1
49697    1
49698    1
49699    1
49700    1
49701    1
49702    1
49703    1
49704    1
49705    1
49706    1
49707    0
49708    1
49709    0
49710    0
49711    1
49712    1
49713    1
49714    0
49715    0
49716    1
49717    1
Name: used_on, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_double, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_topping, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_paper, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_vinaigrette, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_poppy, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cutlets, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_shanks, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_skimmed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_ear, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_wild, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_snapper, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_graham, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tortellini, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bones, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_methi, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cachaca, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_hamburger, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_candied, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_grapeseed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_superfine, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ramen, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_colby, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bass, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_brewed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_whip, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_udon, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mini, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_brisket, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_skirt, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bags, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_konbu, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_lima, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_baked, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_herbes, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_preserved, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_parsnips, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_piecrusts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_date, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_vermouth, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bird, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_grating, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mashed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_portabello, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rotisserie, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_lobster, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_capsicum, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_eye, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_habanero, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_urad, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Cheese, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_gorgonzola, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_curds, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_dates, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_hungarian, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_harissa, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_split, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_hocks, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_radicchio, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crimini, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_heart, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tahini, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    1
49714    0
49715    0
49716    0
49717    0
Name: used_pear, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_teriyaki, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pickle, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_file, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_port, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_roasting, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_figs, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_slice, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_dipping, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rotini, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_provence, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    1
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cracker, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    0
49698    0
49699    0
49700    1
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    0
49712    0
49713    0
49714    1
49715    0
49716    0
49717    0
Name: used_sauces, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sambal, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_livers, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_papaya, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pudding, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_poultry, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_currant, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_quick, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_processed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Gruy, Length: 49718, dtype: int8

0        0
1        1
2        1
3        0
4        1
5        1
6        0
7        0
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       0
19       1
20       1
21       0
22       0
23       1
24       1
25       0
26       1
27       1
28       1
29       1
        ..
49688    1
49689    1
49690    1
49691    1
49692    0
49693    0
49694    0
49695    1
49696    1
49697    1
49698    1
49699    1
49700    1
49701    1
49702    1
49703    1
49704    1
49705    1
49706    1
49707    0
49708    1
49709    1
49710    1
49711    1
49712    1
49713    1
49714    0
49715    1
49716    1
49717    1
Name: used_re, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_manchego, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_spears, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    1
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cane, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        1
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    1
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_dri, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_brine, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_escarole, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_littleneck, Length: 49718, dtype: int8

0        0
1        1
2        0
3        0
4        1
5        0
6        1
7        0
8        1
9        0
10       1
11       1
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       1
20       1
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       1
29       1
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    1
49696    0
49697    1
49698    1
49699    0
49700    1
49701    1
49702    0
49703    1
49704    1
49705    0
49706    1
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    1
Name: used_or, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_gnocchi, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_picante, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_sprinkles, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_deveined, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Chinese, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        1
9        0
10       1
11       1
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       1
21       1
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    1
49690    0
49691    0
49692    1
49693    0
49694    0
49695    0
49696    0
49697    1
49698    0
49699    0
49700    0
49701    0
49702    1
49703    1
49704    1
49705    1
49706    1
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    1
49716    0
49717    0
Name: used_no, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_natural, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fettuccine, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_gram, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_plums, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_grapefruit, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_seaweed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_prepar, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_homemade, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_thick, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pimento, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_stuffed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pomegranate, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mein, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_silken, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Cream, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_center, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rock, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    1
49717    0
Name: used_scallion, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_jerk, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bottled, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_relish, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_barley, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Old, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_glutinous, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_for, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Alfredo, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_beaten, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    1
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_raspberry, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_anchovies, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_liver, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_El, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Paso, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_savoy, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_champagne, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_navel, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_clarified, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_shelled, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       1
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_curd, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_tart, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cornbread, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_gravy, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_whitefish, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cocktail, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        1
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    1
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    1
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_vine, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_kasuri, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_back, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    1
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_flaked, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crusts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rabe, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_asafetida, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Anaheim, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_artichok, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_marin, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_seafood, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_scotch, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_yams, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fusilli, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_turbinado, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_store, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_bought, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_range, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_malt, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_endive, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_added, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_kielbasa, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_California, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ravioli, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ulek, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    1
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_walnut, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chunks, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_crusty, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_great, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_northern, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_chickpea, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fry, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    1
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_uncook, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fingers, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_candy, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_marmalade, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_marshmallows, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_nonstick, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Japanese, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    1
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_filet, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rubbed, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_arbol, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pitas, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_haricots, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_verts, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_fried, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_vietnamese, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_hellmann, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_best, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_mayonnais, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Irish, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_club, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_softened, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_drained, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_watermelon, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rocket, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_croutons, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_grapes, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_enokitake, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    1
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_gari, Length: 49718, dtype: int8

0        0
1        0
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       1
19       1
20       1
21       0
22       0
23       1
24       1
25       1
26       0
27       0
28       1
29       0
        ..
49688    1
49689    0
49690    0
49691    1
49692    0
49693    0
49694    1
49695    1
49696    0
49697    1
49698    0
49699    0
49700    1
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    1
49708    0
49709    1
49710    0
49711    1
49712    0
49713    0
49714    1
49715    0
49716    0
49717    0
Name: used_sauc, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_pickling, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_orecchiette, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    1
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_flower, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_essence, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_buckwheat, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_stir, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_cookies, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       0
        ..
49688    0
49689    0
49690    1
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    1
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_carrot, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_hock, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_rose, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ciabatta, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_ready, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_regular, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_glass, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_safflower, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_jeera, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_Oil, Length: 49718, dtype: int8

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
49688    0
49689    0
49690    0
49691    0
49692    0
49693    0
49694    0
49695    0
49696    0
49697    0
49698    0
49699    0
49700    0
49701    0
49702    0
49703    0
49704    0
49705    0
49706    0
49707    0
49708    0
49709    0
49710    0
49711    0
49712    0
49713    0
49714    0
49715    0
49716    0
49717    0
Name: used_oven, Length: 49718, dtype: int8

In [17]:
df.head()

,cuisine,id,ingredients,ingred,used_pepper,used_salt,used_oil,used_garlic,used_ground,used_fresh,...,used_hock,used_rose,used_ciabatta,used_ready,used_regular,used_glass,used_safflower,used_jeera,used_Oil,used_oven
0,greek,10259,"[romaine lettuce, black olives, grape tomatoes...",romaine lettuceblack olivesgrape tomatoesgarli...,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,southern_us,25693,"[plain flour, ground pepper, salt, tomatoes, g...",plain flourground peppersalttomatoesground bla...,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,filipino,20130,"[eggs, pepper, salt, mayonaise, cooking oil, g...",eggspeppersaltmayonaisecooking oilgreen chilie...,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,indian,22213,"[water, vegetable oil, wheat, salt]",watervegetable oilwheatsalt,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,indian,13162,"[black pepper, shallots, cornflour, cayenne pe...",black peppershallotscornflourcayenne pepperoni...,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
del (df_frq, frq, contenttxt, content)

In [19]:
df=df.drop(['ingredients','ingred'],axis=1)

In [21]:
import pickle
with open('all_data.pickle','wb') as f:
    pickle.dump(df,f)

In [ ]:
for c in df.columns:
    col_type=df[c].dtype
    if col_type !='object' and c !='id':
        df[c]=df[c].astype('int16')