In [4]:
import pandas as pd
import numpy as np
#建立一個6X4的矩陣
dates = pd.date_range('20180701', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)), index=dates, columns=['A','B','C','D'])
df

             A   B   C   D
2018-07-01   0   1   2   3
2018-07-02   4   5   6   7
2018-07-03   8   9  10  11
2018-07-04  12  13  14  15
2018-07-05  16  17  18  19
2018-07-06  20  21  22  23

In [5]:
print(df.A)

2018-07-01     0
2018-07-02     4
2018-07-03     8
2018-07-04    12
2018-07-05    16
2018-07-06    20
Freq: D, Name: A, dtype: int64

In [10]:
print(df[2:4])#print 第2個index，到第4個(不含)index

             A   B   C   D
2018-07-03   8   9  10  11
2018-07-04  12  13  14  15

In [14]:
print(df.loc['20180702'])#print index是'20180702'的那一列

A    4
B    5
C    6
D    7
Name: 2018-07-02 00:00:00, dtype: int64

In [20]:
print(df.loc[:,['A','C']]) # :代表所有行

             A   C
2018-07-01   0   2
2018-07-02   4   6
2018-07-03   8  10
2018-07-04  12  14
2018-07-05  16  18
2018-07-06  20  22

In [21]:
print(df.iloc[3,1]) #iloc是指定絕對位置

13

In [22]:
print(df.iloc[3:5,1:3])

             B   C
2018-07-04  13  14
2018-07-05  17  18

In [23]:
print(df.iloc[[1,3,5],1:3])

             B   C
2018-07-02   5   6
2018-07-04  13  14
2018-07-06  21  22

In [25]:
print(df.ix[:3,['A','C']])
#print(df.loc[:3,['A','C']])這樣寫不行

            A   C
2018-07-01  0   2
2018-07-02  4   6
2018-07-03  8  10

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [26]:
#也可透過判斷篩選，採用判斷指令Boolean indexing
print(df[df.A>8])

             A   B   C   D
2018-07-04  12  13  14  15
2018-07-05  16  17  18  19
2018-07-06  20  21  22  23

In [27]:
#利用索引或標籤確定要修改值的絕對位置
df.iloc[2,2] = 1111
df.loc['20180701','B'] = 2222
df

             A     B     C   D
2018-07-01   0  2222     2   3
2018-07-02   4     5     6   7
2018-07-03   8     9  1111  11
2018-07-04  12    13    14  15
2018-07-05  16    17    18  19
2018-07-06  20    21    22  23

In [29]:
# 修改B欄值，但根據A欄位來判斷
df.B[df.A>4]=0
df

             A     B     C   D
2018-07-01   0  2222     2   3
2018-07-02   4     5     6   7
2018-07-03   8     0  1111  11
2018-07-04  12     0    14  15
2018-07-05  16     0    18  19
2018-07-06  20     0    22  23

In [30]:
#創F欄全部missing
df['F'] =np.NaN
df

             A     B     C   D   F
2018-07-01   0  2222     2   3 NaN
2018-07-02   4     5     6   7 NaN
2018-07-03   8     0  1111  11 NaN
2018-07-04  12     0    14  15 NaN
2018-07-05  16     0    18  19 NaN
2018-07-06  20     0    22  23 NaN

In [35]:
#新增E欄，補上特定值
df['E'] = pd.Series([1,2,3,4,5], index=pd.date_range('20180701', periods=5))
df

             A     B     C   D   F    E
2018-07-01   0  2222     2   3 NaN  1.0
2018-07-02   4     5     6   7 NaN  2.0
2018-07-03   8     0  1111  11 NaN  3.0
2018-07-04  12     0    14  15 NaN  4.0
2018-07-05  16     0    18  19 NaN  5.0
2018-07-06  20     0    22  23 NaN  NaN

In [36]:
#判斷是否有缺失值數據
df.isnull()

                A      B      C      D     F      E
2018-07-01  False  False  False  False  True  False
2018-07-02  False  False  False  False  True  False
2018-07-03  False  False  False  False  True  False
2018-07-04  False  False  False  False  True  False
2018-07-05  False  False  False  False  True  False
2018-07-06  False  False  False  False  True   True

In [37]:
#如果df中有任何一個missing就回傳true
np.any(df.isnull())== True

True