In [103]:
# load package# load 
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.cross_validation  import train_test_split
from sklearn import metrics
from sklearn import preprocessing
import matplotlib.pyplot as plt

# set path
import os
default_path = "/Users/francislin/Desktop/Machine_Learning_Workshop/Titanic/"
os.chdir(default_path)

# skip interaction warning
import warnings; 
warnings.filterwarnings('ignore')

In [104]:
# Data Prepararion
# read data
train=pd.read_csv('train.csv',encoding='big5')
test=pd.read_csv('test.csv',encoding='big5')
submit=pd.read_csv('gender_submission.csv',encoding='big5')
# append in ONE data
data=train.append(test)

In [118]:
#最多在S港上傳，填補遺漏值
data['Embarked']=data['Embarked'].fillna('S')
#
print('Fare遺漏的人數：',data['Fare'].isnull().sum())
#用平均填補遺漏值
data['Fare']=data['Fare'].fillna(data['Fare'].mean())
#
print('Age遺漏的人數：',data['Age'].isnull().sum())
#用中位數填補遺漏值
data['Age']=data['Age'].fillna(data['Age'].median())
# if cabin is null, fill "other"
data['Cabin']=data['Cabin'].fillna('Other')

Fare遺漏的人數： 0
Age遺漏的人數： 0

In [119]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
Age            1309 non-null float64
Cabin          1309 non-null int16
Embarked       1309 non-null int8
Fare           1309 non-null float64
Name           1309 non-null int16
Parch          1309 non-null int64
PassengerId    1309 non-null int16
Pclass         1309 non-null int8
Sex            1309 non-null int8
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null int16
dtypes: float64(3), int16(4), int64(2), int8(3)
memory usage: 75.4 KB

In [120]:
# ??? 感覺是把文字類別轉成某種數字
data['Sex'] = data['Sex'].astype('category').cat.codes
data['Embarked'] = data['Embarked'].astype('category').cat.codes
data['Pclass'] = data['Pclass'].astype('category').cat.codes
data['Name'] = data['Name'].astype('category').cat.codes
data['Ticket'] = data['Ticket'].astype('category').cat.codes
data['Cabin'] = data['Cabin'].astype('category').cat.codes
#data['PassengerId'] = data['PassengerId'].astype('category').cat.codes

In [121]:
# 運用'Survived'欄位來判斷訓練集還是測試集
dataTrain = data[pd.notnull(data['Survived'])].sort_values(by=["PassengerId"])
dataTest = data[~pd.notnull(data['Survived'])].sort_values(by=["PassengerId"])
dataTrain.columns

Index(['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId',
       'Pclass', 'Sex', 'SibSp', 'Survived', 'Ticket'],
      dtype='object')

In [122]:
# 選要的欄位
dataTrain=dataTrain[['Survived','Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId',
       'Pclass', 'Sex', 'SibSp', 'Ticket']]
dataTest=dataTest[['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId',
       'Pclass', 'Sex', 'SibSp', 'Ticket']]
dataTrain.head(4)

,Survived,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Ticket
0,0.0,22.0,185,2,7.2500,155,0,0,2,1,1,720
1,1.0,38.0,106,0,71.2833,286,0,1,0,0,1,816
2,1.0,26.0,185,2,7.9250,523,0,2,2,0,0,914
3,1.0,35.0,70,2,53.1000,422,0,3,0,0,1,65

In [123]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    dataTrain[['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId',
       'Pclass', 'Sex', 'SibSp', 'Ticket']], dataTrain[['Survived']], test_size=0.3, random_state=0)

In [124]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(criterion='entropy', n_estimators=10,random_state=3,n_jobs=2)
forest.fit(X_train,y_train['Survived'].values)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=3, verbose=0, warm_start=False)

In [126]:
#predict Test data
#submit the data to kaggle
forest_res =forest.predict(dataTest)
submit['Survived'] = forest_res
submit['Survived'] = submit['Survived'].astype(int)
%pwd

'/Users/francislin/Desktop/Machine_Learning_Workshop/Titanic'

In [127]:
print("0.72727")

0.72727