In [1]:
# load package
import numpy as np
import pandas as pd
import pickle

# set path
import os
default_path = "/Users/francislin/temp/"
os.chdir(default_path)

# skip interaction warning
import warnings; 
warnings.filterwarnings('ignore')
#你可以选择修改 ast_note_iteractively kernel 选项来使得 Jupyter 为每一行的变量或语句执行这个操作，以便你可以立即看到多条语句一起输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
with open('all_data.pickle','rb') as f:
    df= pickle.load(f)

In [3]:
df.head()

,cuisine,id,used_pepper,used_salt,used_oil,used_garlic,used_ground,used_fresh,used_sauce,used_sugar,...,used_hock,used_rose,used_ciabatta,used_ready,used_regular,used_glass,used_safflower,used_jeera,used_Oil,used_oven
0,greek,10259,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,southern_us,25693,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,filipino,20130,1,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,indian,22213,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,indian,13162,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data_key=df[['id','cuisine']]
data = df.drop(['id','cuisine'],axis=1)

In [5]:
from sklearn.decomposition import PCA
pca = PCA(n_components=0.8, svd_solver='full')
pca_data=pca.fit(data)

In [6]:
print(pca.n_components_)

134

In [7]:
principalComponents = pca.fit_transform(data)
principalDf = pd.DataFrame(data = principalComponents)

In [8]:
principalDf.head()

,0,1,2,3,4,5,6,7,8,9,...,124,125,126,127,128,129,130,131,132,133
0,0.410868,1.511810,-1.369136,0.115075,-0.188099,-0.200973,-1.101218,-0.015127,-0.308410,-0.153127,...,-0.507860,0.008608,-0.222082,0.528199,0.318087,-0.061969,-0.063991,-0.241771,0.266928,-0.022912
1,0.034862,0.394947,0.930672,-0.360164,-0.105215,-1.337149,-0.073493,0.389514,-0.206608,0.806345,...,-0.033800,0.186566,0.038546,-0.371783,0.113266,0.060910,-0.120402,-0.230628,-0.027581,0.050417
2,0.332297,-0.650574,0.725765,1.004397,0.015120,-0.228537,-1.393389,-0.231589,0.290304,-0.210332,...,0.100301,0.046994,0.187233,-0.073508,-0.066212,0.027006,-0.009036,0.112207,0.126749,0.051914
3,-1.303200,-0.633279,-0.821922,-0.810094,-0.343640,-0.631985,-0.309213,0.482228,0.143415,0.786575,...,0.043606,0.018030,0.033621,0.048128,0.075953,0.031704,0.022385,0.022642,0.036007,-0.005594
4,0.996157,0.313401,2.253926,0.395730,-0.994413,0.220015,-0.237783,-0.917451,1.639429,-0.105104,...,-0.241206,0.288573,-0.383483,-0.150991,-0.535665,-0.314691,0.131026,-0.320689,0.230030,0.056896

In [9]:
ALL = pd.concat([data_key, principalDf], axis=1)

In [10]:
ALL.head()

,id,cuisine,0,1,2,3,4,5,6,7,...,124,125,126,127,128,129,130,131,132,133
0,10259,greek,0.410868,1.511810,-1.369136,0.115075,-0.188099,-0.200973,-1.101218,-0.015127,...,-0.507860,0.008608,-0.222082,0.528199,0.318087,-0.061969,-0.063991,-0.241771,0.266928,-0.022912
1,25693,southern_us,0.034862,0.394947,0.930672,-0.360164,-0.105215,-1.337149,-0.073493,0.389514,...,-0.033800,0.186566,0.038546,-0.371783,0.113266,0.060910,-0.120402,-0.230628,-0.027581,0.050417
2,20130,filipino,0.332297,-0.650574,0.725765,1.004397,0.015120,-0.228537,-1.393389,-0.231589,...,0.100301,0.046994,0.187233,-0.073508,-0.066212,0.027006,-0.009036,0.112207,0.126749,0.051914
3,22213,indian,-1.303200,-0.633279,-0.821922,-0.810094,-0.343640,-0.631985,-0.309213,0.482228,...,0.043606,0.018030,0.033621,0.048128,0.075953,0.031704,0.022385,0.022642,0.036007,-0.005594
4,13162,indian,0.996157,0.313401,2.253926,0.395730,-0.994413,0.220015,-0.237783,-0.917451,...,-0.241206,0.288573,-0.383483,-0.150991,-0.535665,-0.314691,0.131026,-0.320689,0.230030,0.056896

In [11]:
os.chdir('/Users/francislin/temp/')
import pickle
with open('all_data_pca134.pickle','wb') as f:
    pickle.dump(ALL,f)