In [7]:
# load package
import numpy as np
import pandas as pd
import pickle
import xlearn as xl
import logging

# set path
import os
default_path = "/Users/francislin/temp/"
os.chdir(default_path)

# skip interaction warning
import warnings; 
warnings.filterwarnings('ignore')
#你可以选择修改 ast_note_iteractively kernel 选项来使得 Jupyter 为每一行的变量或语句执行这个操作，以便你可以立即看到多条语句一起输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
with open('all_data.pickle','rb') as f:
    df= pickle.load(f)

In [65]:
df.head()

,cuisine,id,used_pepper,used_salt,used_oil,used_garlic,used_ground,used_fresh,used_sauce,used_sugar,...,used_hock,used_rose,used_ciabatta,used_ready,used_regular,used_glass,used_safflower,used_jeera,used_Oil,used_oven
0,greek,10259,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,southern_us,25693,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,filipino,20130,1,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,indian,22213,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,indian,13162,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# 區分train test
dataTrain = df[pd.notnull(df['cuisine'])]
dataTest = df[~pd.notnull(df['cuisine'])]
dataTrain.columns

Index(['cuisine', 'id', 'used_pepper', 'used_salt', 'used_oil', 'used_garlic',
       'used_ground', 'used_fresh', 'used_sauce', 'used_sugar',
       ...
       'used_hock', 'used_rose', 'used_ciabatta', 'used_ready', 'used_regular',
       'used_glass', 'used_safflower', 'used_jeera', 'used_Oil', 'used_oven'],
      dtype='object', length=902)

In [10]:
data_key=df[['id','cuisine']]
#data = df.drop(['id','cuisine'],axis=1)

In [77]:
fm_model = xl.FMModel(task='multi-class', init=0.1, epoch=10, k=10, lr=0.1, reg_lambda=0.1, opt='sgd', metric='auc')

In [78]:
fm_model

FMModel(alpha=1, beta=1, block_size=500, epoch=10, fold=1, init=0.1, k=10,
    lambda_1=1, lambda_2=1, lr=0.1, metric='auc', model_type='fm',
    n_jobs=4, nthread=None, opt='sgd', reg_lambda=0.1, stop_window=2,
    task='multi-class')

In [79]:
def cuisine_embedding_fm(emb_cuisine_input, cuisine_dummies, cuisine_dummies_train, fm_model, cuisine, id):
    #, label, train_id
    logging.info('Fit the FM model and derive the embedding values')
    fm_model.fit(cuisine_dummies_train, emb_cuisine_input['cuisine'])
    emb_weight = fm_model.weights[1]
    cuisine_emb = np.matmul(cuisine_dummies.values, emb_weight)
    #cuisine_emb = pd.DataFrame(cuisine_emb, columns=['cuisine'+edu_state[state]+str(i) for i in range(emb_weight.shape[1])])
    
    return emb_weight, cuisine_emb

In [80]:
emb_cuisine_input = df[['id','cuisine']]#.reset_index(drop=True)
cuisine_dummies = df.drop(['id','cuisine'],axis=1)
cuisine_dummies_train = dataTrain.drop(['id','cuisine'],axis=1)
cuisine = df.cuisine
id = df.id

In [81]:
cuisine_embedding_fm(emb_cuisine_input, cuisine_dummies, cuisine_dummies_train, fm_model, cuisine, id)

ValueError: could not convert string to float: 'mexican'

In [48]:
emb_cuisine_input.index = emb_cuisine_input['id']

In [59]:
emb_cuisine_input=emb_cuisine_input.drop(['id'],axis=1)

In [68]:
emb_cuisine_input

          id       cuisine
0      10259         greek
1      25693   southern_us
2      20130      filipino
3      22213        indian
4      13162        indian
5       6602      jamaican
6      42779       spanish
7       3735       italian
8      16903       mexican
9      12734       italian
10      5875       italian
11     45887       chinese
12      2698       italian
13     41995       mexican
14     31908       italian
15     24717        indian
16     34466       british
17      1420       italian
18      2941          thai
19      8152    vietnamese
20     13121          thai
21     40523       mexican
22     40989   southern_us
23     29630       chinese
24     49136       italian
25     26705       chinese
26     27976  cajun_creole
27     22087       italian
28      9197       chinese
29      1299       mexican
...      ...           ...
49688  49157           NaN
49689  40847           NaN
49690  14084           NaN
49691   6802           NaN
49692  22381           NaN
49693  21016           NaN
49694  29024           NaN
49695   4478           NaN
49696  36711           NaN
49697   8300           NaN
49698  47035           NaN
49699  15596           NaN
49700  19902           NaN
49701  31242           NaN
49702  21117           NaN
49703  15234           NaN
49704  24993           NaN
49705  31007           NaN
49706  31687           NaN
49707  13657           NaN
49708  36612           NaN
49709  14008           NaN
49710  32124           NaN
49711  43570           NaN
49712  14059           NaN
49713  30246           NaN
49714  36028           NaN
49715  22339           NaN
49716  42525           NaN
49717   1443           NaN

[49718 rows x 2 columns]